# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
gltf/
*.bin
**/results/tabular
**/mitch
*.jpg
*.gltf
*.obj
**/3d
**/CSV
.vsconfig
**/node_modules
**/UnityGLTF
**/OBJImport/
UnityGenerated/
Library/
Assets/AssetStoreTools*
ProjectSettings/
**/Builds/.vs
**/Builds/build
**/Builds/Il2CppOutputProject
**/Packages/
**/Logs/
**/UserSettings/
**/Managed
!**/*.cs
**/Assets/MixedRealityToolkit*
**/Assets/MRTK
**/Assets/**/*.meta
**/Assets/XR
**/Assets/**/*.pfx
**/Builds/**/Assets
**/Assets/Materials/*
**/TextMesh*
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
**/.DS_Store
.DS_Store?
**/DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ========= #
# LaTEX     #
# ========  #
**/.DS_Store
Add-Ons
**/__pycache__
!Master_Thesis_Latex/*.pdf
!Master_Thesis_Latex/*.tex
!Master_Thesis_Latex/articles/*.*
Master_Thesis_Latex/*.*
*.toc
*.aux
*.bbl
*.blg
*.lol
*.out
*.bif
*.lof
*.log
main*.xml
main*.gz
.idea
**/venv/*
!*/gfx
!*.tex
# ======== #
# Dev data #
# ======= # 
trained_models
*.npy
# HHI GPU Singularity Container
*.sif
*stats*
*/.ipynb_checkpoints/*
*/notebooks/.ipynb_checkpoints
*/notebooks/model_adjist.ipynb
*/gpu_jobs_results*/*
**/*.numbers
